body {
    font-family: 'Goudy Old Style';
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: url(image/adult-fashion-feet-772286.jpg);
}

#logo  img {
    margin: 10px;
    float: right;
    width: 200px;
    height: 75px;
    margin-bottom: 50px;
}
.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}
.container p{
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}

/*Header*/

header{
    background: #000000;
    color: #ffffff;
    padding-top: 20px;
    min-height: 50px;
    border-bottom: #ff0000 6px solid;
    width: 100%;
}

    header a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Goudy Old Style';
        
            }

header li{

     display:inline;
    padding: 0 20px 0 20px;
    
}

header #branding{
    float: right;
    margin-left: 40px;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 50px;
}

header .highlight, header .current a{
    color: #ff0000;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/*SHOWCASE*/
#showcase{
    min-height: 100px;
    background:url(image/adult-fashion-feet-772286.jpg);
    text-align: center;
    color: #000000;
}
#showcase h1{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family:'Goudy Old Style';
}
#showcase p{
    font-size: 15px;
    text-transform:uppercase;
    font-weight: bold;
}
/*MAP*/
#map {
    width: 720px;
    height: 487px;
    

}
/*Footer*/
footer {
    padding: 15px;
    margin-top: 20px;
    background-color: #000000;
    width: 98%;
    overflow: hidden;
    opacity: 0.90;
    border-top: #ff0000 4px solid;
    position:absolute;
    
}
footer p{
    float: left;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.ProductRepeaterImg {
    width: 100px;
    height: 100px;
    
}
.Product-Repeater li {
    float: left;
    width: 20%;
    padding: 0 20px 0 20px;
}